@font-face {
    font-family: 'AL Nevrada Personal Use Only Regular';
    font-style: normal;
    font-weight: normal;
    src: local('AL Nevrada Personal Use Only Regular'), url('AL_Nevrada_Personal_Use_Only.woff') format('woff');
}