.panel-login {
    border: 10px solid #848688;
    /* margin-bottom: 18px; */
    background-color: #fff;
    max-width: 480px;
    margin: 0 auto;
    -webkit-box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.72);
    box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.72);
}

.panel-login .panel-head {
    color: #4c4d5a;
    /* border-color: #113075; */
    text-shadow: 0 -1px 0 rgba(50,50,50,0);
    position: relative;
    padding: 24px 15px;
    /* border-bottom: 1px solid #113075; */
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    color: #fff;
    font-size: 15px;
    background: #fff;
}

.panel-login .panel-head .logomarca-login {
    padding: 0;
    width: 100%;
    text-align: center;
}

.panel-login .panel-head .logomarca-login img {
    max-width: 185px;
}

.panel-login .panel-body {
    padding: 15px;
    padding-top: 0;
}
.botao_padra_1 {
    color: #fff;
    font-size: 16px;
    padding: 12px 23px;
    margin: 4px 5px;
    background: #c7c7c7;
    cursor: pointer;
}
.panel-login .panel-body .botao_padra_1 {
    background: #fe751b;
    padding: 12px;
    width: 100%;
    margin: 0;
    display: inline-block;
    text-align: center;
}
.panel-login .panel-body .botao_padra_1:hover {
    background: #e2a16c;
}
.panel-login .panel-body .txtCampo {

}
.esqueceuSenha a{
    color: #fe751b;
}
.panel-login .txt-p-head {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 20px 0;
}

.panel-login .txt-p-head2 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
}