.bloco-lista-blog-2{
    margin-top: 60px;
    margin-bottom: 60px;
}
#blocoListaBlog2{
    margin-top: 40px;
}
#blocoListaBlog2 .item .titulo{
    color: #000;
}
#blocoListaBlog2 .item .img img{
    border-radius: 25px;
    width: 100%;
    height: 100%;
    max-width: 455px;
    max-height: 257px;
}
#blocoListaBlog2 .item .texto {
    margin-top: 25px;
}
#blocoListaBlog2 .item .texto .titulo {
    margin-bottom: 25px;
}
#blocoListaBlog2 .botao{
    margin-top: 25px;
}
#blocoListaBlog2 .botao a{
    font-size: 18px;
    text-decoration: underline;
}

/* Listagem */
#blogs_listageem .owl-carousel{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
#blogs_listageem .owl-carousel .item{
    width: calc(33.3333% - 27px);
}

@media(max-width: 992px){
    #blogs_listageem .owl-carousel .item{
        width: calc(50% - 20px);
    }
}

@media(max-width: 768px){
    #blogs_listageem .owl-carousel .item{
        width: calc(100%);
    }
}
