.bloco-lista-servicos-2{
    background-color: #121212;
    padding-top: 120px;
    padding-bottom: 120px;
}
#blocoListaServicos2 .item .img img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-width: 455px;
    max-height: 455px;
}
#blocoListaServicos2 .item .texto {
    margin-top: 25px;
    color: #fff;
}
#blocoListaServicos2 .item .texto .titulo {
    margin-bottom: 25px;
    color: #fff;
}
#blocoListaServicos2 .botao{
    margin-top: 25px;
}
#blocoListaServicos2 .botao a{
    font-size: 14px;
    color: #fff;
    text-decoration: underline;
}